<h1>Help</h1>
<p>This is the home page for the <a href="http://downloadsearches.com/help">Ruby on Rails Tutorial help page</a>
 sample application.</p>

<%= link_to "Sign up now!", '#', :class => "signup_button round" %>"